h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: large;
    margin: 0px;
}

p {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0px;
}

.tool {
    display: flex;
    padding: 0px 20px;
}

button {
    margin: 0px 1vw;
}

canvas {
    float: left;
    width: 60vw;
    height: 40vw;
}

.settings {
    margin-left: 20px;
    width: auto;
}

.object-position {
    display: flex;
}

.camera {
    display: flex;
}

.light {
    display: flex;
}

.translate {
    margin-left: 20px;
}

.rotation {
    margin-left: 20px;
}

.color {
    display: flex;
}

.color-picker {
    width: 100%;
}

select {
    width: 100%;
}

.slider {
    width: 180px;
}

#glcanvas {
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}